@model int
@{
    ViewData["Title"] = "MerchAddForm";
}
<title>MerchAddForm</title>
<h2>MerchAddForm</h2>
@using (Html.BeginForm("MerchAdd", "Pharmacy"))
{
    <div>ID</div>@Html.TextBox("p", Model)
    <div>Name</div>@Html.TextBox("name")
    <div>MG</div>@Html.TextBox("mg")
    <div>Price</div>@Html.TextBox("price")
    <div>Count</div>@Html.TextBox("count")
    <div>Shelf Life</div>@Html.TextBox("sl")
    <br>
    <input type="submit" value="Confirm" />
}